<a href="/products/detail/<%= book.id%>">
    <article class="book-item">
        <div class="item-img">    
            <img class="book-image" src="/images/products/<%= book.image ? book.image : 'default.jpeg' %>" alt="book-image">
        </div>
        <div class="item-info">
            <h3><%= book.title %></h3>
            <% if (book.author) { %>
            <p><%= books .author.name %></p>
            <% } %>
        </div>
        <div class="item-price">
            <p>$<%= book.price %></p>
        </div>
    </article>
</a>