<!DOCTYPE html>
<html lang="en">

<!--Head-->

<%- include('partials/head', { title: product.title }) %>

<!--Body-->

<body>

<!--Header-->

<%- include('partials/header') %>

<!--Main-->
<main>
<!-- Product detail -->

<section class="">
    <div class="">
            <h2 class="products-title"><%= product.title %></h2>
    </div>
    <div>
        <p>Por <%= product.author %></p>
    </div>
    <div class="product-detail-img">
        <img src="/images/products/<%= product.image %>" alt="">
    </div>
    <hr class="separator">
    <div>
        <p>AR$<%= product.price %></p>
    </div>
    <form action="#">
        <button type="submit">Añadir a la cesta</button>
    </form>
</section>


<section>
    <div>
        <h3>Detalle del producto:</h3>
    </div>        
    </div>
        <p>Titulo: <%= product.title %></p>
    </div>
    <div>
        <p class="product-detail-description">Descripción: <%= product.description %></p>
    </div>
    <div>
        <p>Editorial: </p>
    </div>
    <div>
        <p>Fecha de publicación: </p>
    </div>
    <div>
        <p>Idioma: </p>
    </div>

</section>


<div>
    
    <div>
        <a href="#">Detalle de envío</a>
    </div>
    
</div>

<a href="/products/edit/<%= product.id %>" class="action-button edit">EDITAR PRODUCTO</a>
<form action="/products/edit/<%= product.id %>?_method=PUT" method="POST" style="display: inline-flex">
    <button type="submit" class="action-button delete">EDITAR</button>
</form>
			<form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST" style="display: inline-flex">
				<button type="submit" class="action-button delete">ELIMINAR</button>
			</form>


</main>

<!--Footer-->

<%- include ('partials/footer') %>

</body>
</html>