<!DOCTYPE html>
<html lang="en">

<!--Head-->

<%- include('./partials/head') %>

<!--Head-->

<!--Body-->

<body>

<!--Header-->

<%- include('./partials/header') %>

<!--Header-->

<!--Main-->

    <main>
<!-- Seccion de productos-->

<!--Show best selling products-->

        <section class="product-section">
            <header>
                <h1>Los m치s vendidos</h1>
            </header>

            <% books.forEach( book => { %>
                <% if (book.classification_id == '1') { %>
                <a href="/products/detail/<%= book.id%>">
                    <article class="book-item">
                        <div class="item-img">    
                            <img class="book-image" src="/images/products/<%= book.image ? book.image : 'default.jpeg' %>" alt="book-image">
                        </div>
                        <div class="item-info">
                            <h3><%= book.title %></h3>
                            <% if (book.author) { %>
                                <p><%= book.author.first_name + ' ' + book.author.last_name %></p>
                            <% } %>
                        </div>
                        <div class="item-price">
                            <p>$<%= book.price %></p>
                        </div>
                        <form action="#">
                            <button type="submit">A침adir a la cesta</button>
                        </form>
                    </article>
                </a>
                <% } %>
            
            <% }) %>
        </section>

<!--Show best selling products-->

        <hr class="separator">

<!--Show new released products-->

        <section class="product-section">
            <header>
                <h1>Nuevos lanzamientos</h1>
            </header>

            <% books.forEach( book => { %>
                <% if (book.classification_id == '2') { %>
                <a href="/products/detail/<%= book.id%>">
                    <article class="book-item">
                        <div class="item-img">    
                            <img class="book-image" src="/images/products/<%= book.image ? book.image : 'default.jpeg' %>" alt="book-image">
                        </div>
                        <div class="item-info">
                            <h3><%= book.title %></h3>
                            <% if (book.author) { %>
                                <p><%= book.author.first_name + ' ' + book.author.last_name %></p>
                            <% } %>
                        </div>
                        <div class="item-price">
                            <p>$<%= book.price %></p>
                        </div>
                        <form action="#">
                            <button type="submit">A침adir a la cesta</button>
                        </form>
                    </article>
                </a>
                <% } %>
            
            <% }) %>
        </section>

<!--Show new released products-->

        <hr class="separator">

<!--Show recomended products-->

        <section class="product-section">
            <header>
                <h1>Recomendados</h1>
            </header>

            <% books.forEach( book => { %>
                <% if (book.classification_id == '3') { %>
                <a href="/products/detail/<%= book.id%>">
                    <article class="book-item">
                        <div class="item-img">    
                            <img class="book-image" src="/images/products/<%= book.image ? book.image : 'default.jpeg' %>" alt="book-image">
                        </div>
                        <div class="item-info">
                            <h3><%= book.title %></h3>
                            <% if (book.author) { %>
                                <p><%= book.author.first_name + ' ' + book.author.last_name %></p>
                            <% } %>
                        </div>
                        <div class="item-price">
                            <p>$<%= book.price %></p>
                        </div>
                        <form action="#">
                            <button type="submit">A침adir a la cesta</button>
                        </form>
                    </article>
                </a>
                <% } %>
            
            <% }) %>
        </section>

<!--Show recomended products-->

<!-- Seccion de productos-->

        <hr class="separator">

<!-- Subscription-->

        <div class="main-mail-subscription">
            <section class="main-subscription-container">
                <div class="main-mail-subscription-gap">
                    <div class="envelope-container">
                        <i class="fa-solid fa-envelope-open-text"></i>
                        <p>Recibe nuestras ofertas y novedades</p>
                        <div class="suscription-form">
                            <form action="/subscription" method="post">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Correo electronico" name="news-subscription">
                                </div>
                                <div class="submit-button">
                                    <button type="submit" class="subscription-button" >Suscribete ahora</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>

<!-- Subscription-->

        <hr class="separator">

<!--Social Media-->

        <div class="footer-social-media">
            <h3>Siguenos</h3>
            <ul class="footer-social-media-list">
                <li><a href="https://twitter.com/?lang=es"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/"><i class="fa-brands fa-square-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://ar.pinterest.com/"><i class="fa-brands fa-pinterest"></i></a></li>
            </ul>
        </div>

<!--Social Media-->

    </main>

<!--Main-->
    
<!--Footer-->
    
    <%- include ('./partials/footer') %>
    
<!--Footer-->



<script src="/js/js-front.js"></script>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

<!-- <script src="/js/main.js"></script> -->
<script src="/js/index.js"></script>


    
</body>
    
<!--Body-->
    
</html>