<!DOCTYPE html>
<html lang="en">

<!--Head-->

<%- include('partials/head.ejs', { title: 'Editando: ' + <%= productEdit.name %> }) %>

<!--Body-->

<body>
    <main>
        <h3>Estas editando: <i>value="<%= productEdit.name %></i></h3>
        <form action="/products/edit/<%= productEdit.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div>
                <div>
                    <label for="title">Titulo del libro</label>
                </div>
                <input type="text" id="title" name="title" placeholder="Ej: Cien Años de Soledad" value="<%= productEdit.title %>">
            </div>
            <div>
                <div>
                    <label for="author">Autor</label>
                </div>
                <input type="text" id="author" name="author" placeholder="Ej: William Shakespierre" value="<%= productEdit.author %>">
            </div>
            <div>
                <div>
                    <label for="price">Precio</label>
                </div>
                <input type="text" id="price" name="price" placeholder="Ej: 2000" value="<%= productEdit.price %>">
            </div>
            <div>
                <button type="submit">
                    <div>
                        <p>ENVIAR</p>
                    </div>
                </button>
            </div>
        </form>
    </main>
    
</body>