<!DOCTYPE html>
<html lang="en">

<!--Head-->

<%- include('partials/head.ejs', { title: 'Editando: ' + <%= book.title %> }) %>

<!--Body-->

<body>
    <main>
        <div>
            <h3>Estas editando: <%= book.title %></h3>
        </div>
        
        <form action="/products/update/<%= book.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div>
                <div>
                    <label for="title">Título del libro</label>
                </div>
                <input type="text" id="title" name="title" placeholder="Ej: Cien Años de Soledad" value="<%= book.title %>">
            </div>

            <div>
                <div>
                    <label for="author">Autor</label>
                </div>
                <input type="text" id="author" name="author" placeholder="Ej: William Shakespierre" value="<%= book.author %>">
            </div>

            <div>
                <div>
                    <label for="price">Precio</label>
                </div>
                <input type="text" id="price" name="price" placeholder="Ej: 2000" value="<%= book.price %>">
            </div>

            <div>
                <button type="submit">
                    <div>
                        <p>ENVIAR</p>
                    </div>
                </button>
            </div>
        </form>
    </main>
    
</body>

</html>