<!DOCTYPE html>
<html lang="en">

<!--Head-->

<%- include('partials/head', { title: book.title }) %>

<!--Head-->

<!--Body-->

<body>

<!--Header-->

    <%- include('partials/header') %>

<!--Header-->

<!--Main-->

    <main>

<!-- Product detail -->

        <section class="product-detail-main">
            
            <div class="product-detail-img">
                <img src="/images/products/<%= book.image %>" alt="">
            </div>

            <div class="">
                <% if (book.title) { %>
                <h2 class="products-title"><%= book.title %></h2>
                <% } %>
            </div>
            <div>
                <% if (book.author_id) { %>
                <p>Autor: <%= book.author.first_name %> <%= book.author.last_name %></p>
                <% } %>
            </div>

            <div>
                <% if (book.price) { %>
                <p>AR$<%= book.price %></p>
                <% } %>
            </div>

            <form action="#">
                <button type="submit">Añadir a la cesta</button>
            </form>

        </section>

    <hr class="separator">

        <section>
            <div>
                <h2>Reseña</h2>
            </div>

            <div>
                <% if (book.description) { %>
                    <p class="product-detail-description"><%= book.description %></p>
                <% } %>
            </div>

        </section>

    <hr class="separator">    
            
        <section>
            <div>
                <h2>Detalle del producto:</h2>
            </div>        
            </div>
                <% if (book.title) { %>
                <p>Titulo: <%= book.title %></p>
                <% } %>
            </div>
            
            <div>
                <% if (book.publisher_id) { %>
                <p>Editorial: <%= book.publisher.name %></p>
                <% } %>
            </div>
            <div>
                <% if (book.release_date) { %>
                <p>Fecha de publicación: <%= book.release_date %></p>
                <% } %>
            </div>
            <div>
                <p>Idioma: </p>
            </div>

        </section>


        <div>
            <div>
                <a href="#">Detalle de envío</a>
            </div>
        </div>

        <form action="/products/edit/<%= book.id %>" method="GET">
            <div>
                <button type="submit">EDITAR LIBRO</button>
            </div>
        </form>

        <form action="/products/delete/<%= book.id %>" method="GET">
            <div>
                <button type="submit">ELIMINAR LIBRO</button>
            </div>
        </form>


    </main>

<!--Main-->

<!--Footer-->

    <%- include ('partials/footer') %>

<!--Footer-->

<script src="/js/js-front.js"></script>

</body>

<!--Body-->

</html>