<!DOCTYPE html>
<html lang="en">

<!--Head-->

<%- include('partials/head', { title: Agregando }) %>

<!--Head-->

<!--Body-->

<body>

<!--Header-->

    <%- include('partials/header') %>

<!--Header-->

<!--Main-->

    <main>

        <h1>Para agregar un nuevo libro completa los siguientes campos:</h1>
        <section>
            <form action="/products/create">

                <div>
                    <div>
                        <label for="title">Título del libro</label>
                    </div>
                    <input type="text" id="title" name="title" placeholder="Ingresa el titulo" value="">
                </div>

                <div>
                    <div>
                        <label for="author_id">Autor</label>
                    </div>
                    <select name="author_id" id="author_id" required>
                        <% allAuthors.forEach(author => { %>
                        <option value="<%= author.id %>" <% if (Book.author_id == author.id) { %><%= 'selected' %><% }; %>> <%= author.first_name %> <%= author.last_name %></option>
                        <% }); %>
                    </select>
                </div>

                <div>
                    <div>
                        <label for="category_id">Categoria</label>
                    </div>
                    <select name="category_id" id="category_id" required>
                        <% allCategorys.forEach(category => { %>
                        <option value="<%= category.id %>" <% if (Book.category_id == category.id) { %><%= 'selected' %><% }; %>> <%= category.name %></option>
                        <% }); %>
                    </select>
                </div>

                <div>
                    <div>
                        <label for="price">Precio</label>
                    </div>
                    <input type="number" id="price" name="price" placeholder="Ingresa el nuevo valor" value="">
                </div>

                <div>
                    <div>
                        <label for="description">Descripción</label>
                    </div>
                    <textarea name="description" id="description" cols="30" rows="10" placeholder="Agregar escripción" value=""></textarea>
                </div>

                <div>
                    <div>
                        <label for="publisher_id">Editorial</label>
                    </div>
                    <select name="publisher_id" id="publisher_id" required>
                        <% allPublishers.forEach(publisher => { %>
                        <option value="<%= publisher.id %>" <% if (Book.publisher_id == publisher.id) { %><%= 'selected' %><% }; %>> <%= publisher.name %></option>
                        <% }); %>
                    </select>
                </div>

                <div>
                    <div>
                        <label for="classification_id">Clasificación</label>
                    </div>
                    <select name="classification_id" id="classification_id" required>
                        <% allClassifications.forEach(classification => { %>
                        <option value="<%= classification.id %>" <% if (Book.classification_id == classification.id) { %><%= 'selected' %><% }; %>> <%= classification.name %></option>
                        <% }); %>
                    </select>
                </div>

                <div>
                    <div>
                        <label for="release_date">Fecha de publicación</label>
                    </div>
                    <input type="date" id="release_date" name="release_date" value="">
                </div>

                <div>
                    <div>
                        <label for="stock">Cantidad en stock</label>
                    </div>
                    <input type="number" id="stock" name="stock" placeholder="Ingresa la nueva cantidad" value="">
                </div>

                <div>
                    <div>
                        <label for="image">Imagen de la portada</label>
                    </div>
                    <input type="file" name="image" id="image" accept=".jpg, .jpeg, .tiff" value="">
                </div>

                <div>
                    <button type="submit">
                        <div>
                            <p>CARGAR</p>
                        </div>
                    </button>
                </div>

            </form>
        </section>

    </main>

    <!--Main-->

<!--Footer-->

    <%- include ('partials/footer') %>

<!--Footer-->

</body>

<!--Body-->

</html>

</body>
</html>