<!DOCTYPE html>
<html lang="en">

<!--Head-->

<%- include('partials/head', { title: 'Agregando' }) %>

<!--Head-->

<!--Body-->

<body>

<!--Header-->

    <%- include('partials/header') %>

<!--Header-->

<!--Main-->

    <main>
        <div>
            <h1>Confirmas la eliminación del libro: <%= Book.title %></h1>
        </div>

        <form action="/products/delete/<%= Book.id %>?_method=DELETE" method="POST">
            <br>
            <p> <button class="" type="submit">Eliminar el libro</button> </p>
            
            <button><a  class="" href="/products">Listado de libros</a></button>

        </form>

    </main>

   <!--Main-->

<!--Footer-->

    <%- include ('partials/footer') %>

<!--Footer-->

<!--Body-->

</body>
</html>