<!DOCTYPE html>
<html lang="en">

<!--Head-->

<%- include('partials/head', { title: book.title }) %>

<!--Head-->

<!--Body-->

<body>

<!--Header-->

    <%- include('partials/header') %>

<!--Header-->

<!--Main-->

    <main>

<!-- Product detail -->

        <section class="">
            <div class="">
                    <h2 class="products-title">Titulo: <%= book.title %></h2>
            </div>
            <div>
                <p>Autor: <%= book.author.first_name %> <%= book.author.last_name %></p>
            </div>
            <div class="product-detail-img">
                <img src="/images/products/<%= book.image %>" alt="">
            </div>
            <hr class="separator">
            <div>
                <p>AR$<%= book.price %></p>
            </div>
            <form action="#">
                <button type="submit">Añadir a la cesta</button>
            </form>
        </section>


        <section>
            <div>
                <h3>Detalle del producto:</h3>
            </div>        
            </div>
                <p>Titulo: <%= book.title %></p>
            </div>
            <div>
                <p class="product-detail-description">Descripción: <%= book.description %></p>
            </div>
            <div>
                <p>Editorial: <%= book.publisher.name %></p>
            </div>
            <div>
                <p>Fecha de publicación: <%= book.release_date %></p>
            </div>
            <div>
                <p>Idioma: </p>
            </div>

        </section>


        <div>
            <div>
                <a href="#">Detalle de envío</a>
            </div>
        </div>

        <form action="/products/edit/<%= book.id %>" method="GET">
            <div>
                <button type="submit">EDITAR LIBRO</button>
            </div>
        </form>

        <form action="/products/delete/<%= book.id %>" method="GET">
            <div>
                <button type="submit">ELIMINAR LIBRO</button>
            </div>
        </form>


    </main>

<!--Main-->

<!--Footer-->

    <%- include ('partials/footer') %>

<!--Footer-->

</body>

<!--Body-->

</html>