<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> - Bienvenido a the BooK Hut Store</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">    
        <script src="https://kit.fontawesome.com/f5b0ad43f8.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

<body>

<%- include('partials/headerSimp') %>

<main class="main-form">
    <div class="main-form-container">
        <div class="main-box">
            <div class="main-form-gap">

                <div class="section-title">
                    <h2>Informació del perfil de tu cuenta</h2>
                </div>          
                <div>
                    <h2>Hola: <%= user.name %>, has ingresado correctamente</h2>
                </div>

                <div>
                    <p>Nombre: <%= user.name %></p>
                </div>
    
                <div>
                    <p>Usuario: <%= user.userName %></p>
                </div>

                <div>
                    <p>Dirección de e-mail: <%= user.email %></p>
                </div>

                <div>
                    <p>Fecha de nacimiento: <%= user.day %>/<%= user.month %>/<%= user.year %> </p>
                </div>

                <div>
                    <p>Número de teléfono: <%= user.userName %></p>
                </div>

                <div>
                    <p>Dirección: <%= user.userName %></p>
                </div>

                <div class="submit-button">
                    <button type="submit" class="button">
                        <div>
                            <p>EDITAR PERFIL</p>
                        </div>
                    </button>
                </div>

                <div class="submit-button">
                    <button type="submit" class="button">
                        <div>
                            <p>CERRAR CESIÓN</p>
                        </div>
                    </button>
                </div>

            </div>
        </div>
    </div>
</main>

</body>

</html>