<!DOCTYPE html>
<html lang="en">

<!--Head-->

<!-- <%- include('partials/head', { title: user.name }) %> -->

<!--Body-->

<body>

<!--Header-->

<!-- <%- include('partials/header') %> -->

<!--Main-->
<main>
    
<!-- User detail -->

<!-- <section class="">
    <div class="">
            <h2 class="products-title">Nombre completo: <%= user.name %></h2>
    </div>
    <div>
        <p>Email: <%= users.email %></p>
    </div>
    <form action="#">
        <button type="submit">Edita tus datos</button>
    </form>
</section> -->

</main>

<!--Footer-->

<!-- <%- include ('partials/footer') %> -->

</body>
</html>