<!DOCTYPE html>
<html lang="en">

<!--Head-->

<%- include('partials/head', { title: 'Crea tu cuenta' }) %>

<!--Body-->

<body>

<!--Header-->

<%- include('partials/header') %>

<!--Main-->

    <main class="main-form">
        <div class="main-form-container">
            <div class="main-box">
                <div class="main-login-gap">

                    <div class="section-title">    
                        <h2>Registrate: por favor, ingresa tus datos y crea tu cuenta.</h2>
                    </div>

                <div class="form-container">

                    <form action="#" method="POST" class="form">

                        <div class="group-form">
                            <div class="group-label">
                                <label class="label" for="name">Ingresa tu nombre completo</label>
                            </div>
                            <input type="text" name="name" placeholder="Nombre completo" id="inputName" class="form-control <%= locals.errors && errors.name ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.name : null %>">
                            <div>
                                <small class="text-danger-validation erName"></small>
                            </div>
                            <% if (locals.errors && errors.name) { %>
                                <div class="text-danger-validation">
                                    <%= errors.name.msg %>
                                </div>
                            <% } %>
                        </div>
            
                        <div class="group-form">
                            <div class="group-label">
                                <label class="label" for="email">Ingresa tu correo electrónico</label>
                            </div>
                            <input type="email" name="email" placeholder="Correo electrónico" class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.email : null %>" required>
                            <% if (locals.errors && errors.email) { %>
                                <div class="text-danger-validation">
                                    <%= errors.email.msg %>
                                </div>
                            <% } %>
                        </div>

                        <div class="group-form">
                            <div class="group-label">
                                <label class="label" for="mailConfirmation">Confirma el correo electrónico</label>
                            </div>
                            <input type="email" name="mailConfirmation" placeholder="Correo electrónico" class="form-control <%= locals.errors && errors.mailConfirmation ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.mailConfirmation : null %>">
                            <% if (locals.errors && errors.mailConfirmation) { %>
                                <div class="text-danger-validation">
                                    <%= errors.mailConfirmation.msg %>
                                </div>
                            <% } %>
                        </div>

                        <div class="group-form">
                            <div class="group-label">
                                <label class="label" for="password">Crea una contraseña</label>
                            </div>
                            <input type="password" name="password" placeholder="Crea una contraseña" class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>" required>
                            <% if (locals.errors && errors.password) { %>
                                <div class="text-danger-validation">
                                    <%= errors.password.msg %>
                                </div>
                            <% } %>
                        </div>

                        <div class="group-form">
                            <div class="group-label">
                                <label class="label" for="userName">Elige tu nombre de usuario</label>
                            </div>
                            <input type="text" name="userName" placeholder="Nombre de usuario" class="form-control <%= locals.errors && errors.userName ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.userName : null %>">
                            <% if (locals.errors && errors.userName) { %>
                                <div class="text-danger-validation">
                                    <%= errors.userName.msg %>
                                </div>
                            <% } %>
                        </div>

                        <div class="group-form">
                            <div class="group-label">
                                <label class="label" for="birth_date" >Fecha de nacimiento</label>
                            </div>
                                <input type="date" name="birth_date" class="form-control <%= locals.errors && errors.birth_date ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.birth_date : null %>">
                                <% if (locals.errors && errors.birth_date) { %>
                                    <div class="text-danger-validation">
                                        <%= errors.birth_date.msg %>
                                    </div>
                                <% } %>
                        </div>

                        <div class="group-form">
                            <div class="group-label">
                                <label class="label" for="address">Ingresa tu dirección</label>
                            </div>
                            <input type="text" name="address" placeholder="Ingresa tu dirección" class="form-control <%= locals.errors && errors.address ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.address : null %>">
                        </div>

                        <div class="group-form">
                            <div class="group-label">
                                <label class="label" for="phone">Ingresa número de telefono</label>
                            </div>
                            <input type="number" name="phone" placeholder="Ingresa tu número de telefono" class="form-control <%= locals.errors && errors.phone ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.phone : null %>">
                        </div>
                    
                        <div class="submit-button">
                            <button type="submit" class="button" id="button">
                                <div>
                                    <p>CREAR</p>
                                </div>
                            </button>
                        </div>
                        
                    </form>
                </div>

                </div>
            </div>
        </div>
    </main>
    
    <script src="/js/registerValidation.js"></script>
</body>
</html>